# .travis.yml for readstata13.
#
# https://github.com/craigcitro/r-travis/wiki/Porting-to-native-R-support-in-Travis
language: r

matrix:
  include:
    - dist: trusty
    - os: osx
      osx_image: xcode9.2
      disable_homebrew: true    

r:
  - oldrel
  - release
  - devel
  
sudo: false
cache: packages

notifications:
email:
on_success: change
on_failure: change
